[submodule "Axis/vendor/spdlog"]
	path = Axis/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Axis/vendor/GLFW"]
	path = Axis/vendor/GLFW
	url = https://github.com/MikemathuKE/glfw.git
