#directories
Axis/bin
Axis/bin-int
Axis/vendor
SandBox/bin
SandBox/bin-int
SandBox/vendor
vendor/
.vs

#solution
*.sln

#VS Project Files
*.vcxproj
*.filters
*.user

#workspace
*.workspace

#Project File
*.cbp

#layout
*.layout

#depend
*.depend

#build log
*.html

#text files
*.txt
