#directories
Axis/bin
Axis/bin-int
SandBox/bin
SandBox/bin-int
vendor/
.vs

#solution
*.sln
*.workspace

#VS Project Files
*.vcxproj
*.filters
*.user

#CB Project Files
*.cbp
*.layout
*.depend
Makefile

#build log
*.html

#text files
*.txt

#modules
.modules